h1 {
  margin: 0 !important;
}

.songsText {
  max-width: 1004px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.song {
  padding: 36px;
  background-color: white;
  border-radius: 16px;
 // height: 266px;
  display: flex;
  column-gap: 32px;
  transition: height 0.3s ease-in-out;

  &_nota {
    border-radius: 16px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_pic {
    margin-left: auto;
    border-radius: 16px;
    width: 364px;
    height: 194px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    h1 {
      font-family: Ubuntu;
      font-weight: 500;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #4C4C4C;
    }

    .text {
      max-height: 104px;
      overflow: hidden;
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #4C4C4C;
      transition: max-height 0.3s ease-in-out;
    }

    .text.expanded {
      max-height: 1000px;
      overflow: visible;
    }

    .showMoreButton {
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #FF69B0;
      cursor: pointer;
    }
  }
}

.footer_songText {
  background-color: #00BCF5;
  border-top: 4px solid #FFFFFF1F
}