.reviews {
  border: 1px solid red;
  max-width: 1512px;
  margin: 0 auto;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button {
  background: transparent;
  color: #4C4C4C;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  border: none;
  padding: 17px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.button_pink {
  margin-right: auto;
  color: white;
  background-color: #FF4FA9;
  padding: 17px 50px;
}

.sort {
  position: relative;
  &_value {

  }
}