.blockGreen_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 85%;
}

.songBLock {
  background-color: white;
  padding: 36px;
  border-radius: 24px;
  display: flex;
  column-gap: 32px;

  &_nota {
    border-radius: 16px;
    min-width: 64px;
    max-width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    h2 {
      font-family: Ubuntu;
      font-weight: 500;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #4C4C4C;
    }


    .text {
      max-height: 242px;
      overflow: hidden;
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #4C4C4C;
      transition: max-height 0.3s ease-in-out;
    }

    .showMoreButton {
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #FF69B0;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1380px) {
  .blockGreen_content {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .blockGreen_content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .songBLock {
    &_content {
      .text {
        max-height: 157px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .blockGreen_content {
    grid-template-columns: 1fr;
  }

  .songBLock {
    padding: 16px;
    max-height: 250px;
    &:last-child {
      display: none;
    }
  }
}



.blockPurple_content {
  display: flex;
  align-items: center;
  column-gap: 140px;

  .image {
    width: 620px;
    height: 520px;
    border-radius: 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textBlock {
    padding-top: 36px;
    max-width: 675px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    p {
      font-family: Ubuntu;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #FFFFFF;
    }
  }
}

@media screen and (max-width: 1550px) {
  .blockPurple_content {
    column-gap: 60px;

    .image {
      width: 510px;
      height: 476px;
    }
    .textBlock {
      width: 616px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .blockPurple_content {
    width: 80%;
    align-items: center;
    flex-direction: column;

    .textBlock {
      width: 100%;

      a {
        margin: 0 auto !important;
      }
    }

    .image {
      width: 80%;
      height: auto;
    }
  }
}

@media screen and (max-width: 700px) {
  .blockPurple_content {
    .image {
      width: 90%;
    }
  }
}

@media screen and (max-height: 850px) and (max-width: 1200px) {
  .blockPurple_content {
    .textBlock {
      max-height: 250px;
    }
    .image {
      width: 400px;
      height: auto;
    }
  }

  .songBLock {
    padding: 30px;
    height: 250px;
  }
}

@media screen and (max-height: 601px) and (max-width: 1025px) {
  .songBLock {
    height: 200px;
    &_content {
      h2 {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  .blockPurple_content {
    .textBlock {
      display: none;
    }
  }
}
