.aboutBlock {
  padding: 36px;
  background-color: #FFFFFF;
  border-radius: 24px;
  width: 748px;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  row-gap: 36px;

  .aminaPic {
    width: 142px;
    height: 120px;
    margin: 0 auto;
  }

  &_content {

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    h1 {
      font-family: Ubuntu;
      font-weight: 500;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #4C4C4C;
    }

    .text {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      p {
        font-family: Ubuntu;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #4C4C4C;
      }
    }
  }
}

.footer_about {
  border-top: 4px solid #98A6FF;
  background-color: #8A9AFF;
}