.active {
  text-shadow: none !important;
  color: #FFFFFF;
}

.active_multfilm {
  background-color: #8A60EB;
}

.active_songs {
  background-color: #D07DFB;
}

.active_about {
  background-color: #00BDF6;
}

.mainBackground {
  background-color: #FEAFFF;
}

.multfilmBackground {
  background: linear-gradient(279.56deg, #CDBEFF -1.76%, #B8A3FF 100%);
}

.songsBackground {
  background: linear-gradient(279.56deg, #CDBEFF -1.76%, #B8A3FF 100%);
}

.reviewsBackground {

}

.galochka {
 cursor: pointer;
}