.footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  row-gap: 32px;
  flex-direction: column;
  text-align: center;
  color: white;

  p {
    opacity: 0.6;
    margin: 0 auto;
    width: 45%;
  }

}

.footer_multfilm {
  background-color: #8A60EB;
  border-top: 4px solid #9873ED;
}

@media screen and (max-width: 1024px) {
  .footer p {
    width: 70%;
  }
}

.songsMinusesContent {
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
  padding-top: 58px;
  padding-bottom: 58px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.minusItem {
  border-radius: 24px;
  background-color: white;
  padding: 12px 12px 20px 12px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 12px;
  position: relative;

  .downloadMinus {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
  }

  .round {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-family: Ubuntu;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #4C4C4C;
  }
}

.minusItem:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1530px) {
  .songsMinusesContent {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1024px;
  }
}

@media screen and (max-width: 1200px) {
  .songsMinusesContent {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .songsMinusesContent {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
}

@media screen and (max-width: 515px) {
  .songsMinusesContent {
    grid-template-columns: 1fr;

  }
}